body {
    font-family: 'Noto Sans KR', sans-serif;
    /* width: 100%; */
    /* height: 98vh; */
    overflow: hidden;
    /*수정?*/
    background: #f9f9f9;
}

.hidden {
    font-size: 0;
}

nav a, nav label{width:264px;}

ul,
li {
    list-style: none;
    list-style: none;
    text-decoration: none;
    /* border: 1px solid #000; */
    box-sizing: border-box;
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* line-height: inherit; */
    /* margin: 0 auto; */

}


input:focus {
    outline: none;
}

textarea:focus {
    outline: none;
}

button:focus {
    outline: none;
}

#wrap_opacity.on {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 2000;
    width: 100%;
    height: 100%;
}


/* tablet start */


#tablet_main_tableWrap {
    display: none;
}

#tablet_modal {
    position: absolute;
    left: 50%;
    top: 40%;
    /*75%->40%*/
    transform: translate(-50%, -50%);
    background: #fff;
    width: 90%;
    height: 50%;
    border-radius: 30px;
    box-shadow: 2px 5px 11px 5px rgba(0, 0, 0, 0.15);
    z-index: 2001;
}

#tablet_modal_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#tablet_modal #tablet_modal_wrap #tablet_modal_top ul {
    display: flex;
}

#tablet_modal #tablet_modal_wrap #tablet_modal_top ul li {
    width: 21%;
    text-align: center;
    font-size: 24px;
    padding: 1.5% 0;
    cursor: pointer;
    margin-top: 2%;
}

#tablet_modal #tablet_modal_wrap #tablet_modal_top #tablet_modal_close {
    position: absolute;
    right: 4%;
    top: 4%;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Roboto';
}

#tablet_modal #tablet_modal_wrap #tablet_modal_top {
    width: 100%;
    height: 15%;
    border-radius: 30px 30px 0 0;
    border-bottom: 1px solid #ccc;
}

#tablet_modal #tablet_modal_wrap #tablet_modal_center {
    width: 100%;
    height: 85%;
}

#tablet_modal #tablet_modal_wrap #tablet_modal_center table {
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
}

#tablet_modal #tablet_modal_wrap #tablet_modal_center table td:nth-child(2n-1) {
    font-size: 18px;
    font-weight: 600;
    padding: 14px 10px;
    width: 24%;
}

#tablet_modal #tablet_modal_wrap #tablet_modal_center table td:nth-child(2n) {
    font-size: 14px;
    font-weight: 400;
    padding: 14px 10px;
    width: 26%;
}

#tablet_main_tableWrap {
    width: 100%;
    height: 98%;
    margin: 0 auto;
    background: var(--main-bg-color);
    overflow-y: auto;
    background: #fff;
    border-radius:30px;
}

/* tablet end */


/* mobile start */


#mobile_main_tableWrap {
    display: none;
}

#mobile_modal {
    position: absolute;
    left: 50%;
    top: 35%;
    /*53% -> 35%*/
    transform: translate(-50%, -50%);
    background: #fff;
    width: 90%;
    /* height: 100%; */
    border-radius: 30px;
    box-shadow: 2px 5px 11px 5px rgba(0, 0, 0, 0.15);
    z-index: 2001;
}

#mobile_modal_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#mobile_modal #mobile_modal_wrap #mobile_modal_top ul {
    display: flex;
}

#mobile_modal #mobile_modal_wrap #mobile_modal_top ul li {
    width: 35%;
    text-align: center;
    font-size: 24px;
    padding: 1.5% 0;
    cursor: pointer;
    margin-top: 2%;
}

#mobile_modal #mobile_modal_wrap #mobile_modal_top #mobile_modal_close {
    position: absolute;
    right: 6%;
    top: 2%;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Roboto';
}

#mobile_modal #mobile_modal_wrap #mobile_modal_top {
    width: 100%;
    height: 9%;
    border-radius: 30px 30px 0 0;
    border-bottom: 1px solid #ccc;
}

#mobile_modal #mobile_modal_wrap #mobile_modal_center {
    width: 100%;
    height: 85%;
}

#mobile_modal #mobile_modal_wrap #mobile_modal_center table {
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
}

#mobile_modal #mobile_modal_wrap #mobile_modal_center table td:nth-child(2n-1) {
    font-size: 18px;
    font-weight: 600;
    padding: 10px 10px;
    width: 32%;
}

#mobile_modal #mobile_modal_wrap #mobile_modal_center table td:nth-child(2n) {
    font-size: 14px;
    font-weight: 400;
    padding: 14px 10px;
    width: 26%;
}

#mobile_main_tableWrap {
    width: 100%;
    height: 98%;
    margin: 0 auto;
    background: var(--main-bg-color);
    overflow-y: auto;
    background: #fff;
}

#mobile_main_tableWrap {
    width: 100%;
    height: 98%;
    margin: 0 auto;
    background: var(--main-bg-color);
    overflow-y: auto;
    background: #fff;
    border-radius: 30px;
}

/*mobile end*/

/* top area */


#top_area {
    width: calc(100%-280px);
    height: 10vh;
    /* background:red; */
}

#top_area #top_area_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#top_aws {
    width: 14vw;
    height: 46px;
    background: #fff;
    box-shadow: 2px 5px 11px 2px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

#top_kt {
    width: 14vw;
    height: 46px;
    background: #fff;
    box-shadow: 2px 5px 11px 2px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

#top_naver {
    width: 14vw;
    height: 46px;
    background: #fff;
    box-shadow: 2px 5px 11px 2px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

#top_toast {
    width: 14vw;
    height: 46px;
    background: #fff;
    box-shadow: 2px 5px 11px 2px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

#top_all {
    width: 20vw;
    height: 46px;
    background: #fff;
    box-shadow: 2px 5px 11px 2px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
}

#top_area table {
    width: 100%;
    height: 80px;
}

#top_area p {
    font-size: 22px;
    padding: 10px 20px 0 20px;
    font-weight: bold;
    color: var(--title-color);
}

.july {
    display: none;
}

/* top area end */


/* modal start */

#modal {
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 90%;
    height: 36%;
    border-radius: 30px;
    box-shadow: 2px 5px 11px 5px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

#modal_wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

#modal #modal_wrap #modal_top ul {
    display: flex;
}

#modal #modal_wrap #modal_top ul li {
    width: 11%;
    text-align: center;
    font-size: 18px;
    padding: 1.5% 0;
    cursor: pointer;
}


#modal #modal_wrap #modal_top #modal_close {
    position: absolute;
    right: 4%;
    top: 4%;
    cursor: pointer;
    font-size: 24px;
    font-family: 'Roboto';
}

#modal #modal_wrap #modal_top {
    width: 100%;
    height: 18%;
    border-radius: 30px 30px 0 0;
    border-bottom: 1px solid #ccc;
}

#modal #modal_wrap #modal_center {
    width: 100%;
    height: 82%;
}

#modal #modal_wrap #modal_center table {
    width: 90%;
    margin: 0 auto;
    margin-top: 8px;
}

#modal #modal_wrap #modal_center table td:nth-child(2n-1) {
    font-size: 18px;
    font-weight: 600;
    padding: 15px 10px;
    width: 20%;
}

#modal #modal_wrap #modal_center table td:nth-child(2n) {
    font-size: 14px;
    font-weight: 400;
    padding: 15px 10px;
    width: 30%;
}

/* modal end */


/* aside support */

#support {
    width: 80vw;
    height: 100vh;
    background: #6cbfe0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
    transform: translate(-100%);
    border-radius: 0 30px 30px 0;
    transition: transform 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

#support.on {
    transform: translate(0);
}

#support_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

#support #support_wrap #support_close {
    position: absolute;
    right: 4%;
    top: 4%;
    font-size: 34px;
    /* background: red; */
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    font-family: 'Roboto';
}

#support #support_wrap #support_center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
}

#support #support_wrap #support_center #support_center_top {
    width: 100%;
    height: 10%;
    text-align: center;
}

#support #support_wrap #support_center #support_center_top p {
    /* color: #fff; */
    color:#000;
    font-size: 24px;
    font-weight: 600;
    margin-top: 70px;
}

#support #support_wrap #support_center #support_center_middle {
    width: 100%;
    height: 80%;
    position: relative;
}

#support #support_wrap #support_center #support_center_bottom {
    width: 100%;
    height: 10%;
    text-align: center;
}

#support_middle_top {
    display: flex;
    position: relative;
    height: 15%;
}

#support_middle_top #support_middle_top_1 {
    width: 28%;
    height: 100%;
    position: absolute;
    top: -20px;
    left: 0;
}

#support_middle_top #support_middle_top_1 form {
    height: 40px;
}

#support_middle_top #support_middle_top_1 select {
    width: 100%;
    height: 40px;
    /* background: none; */
    background:#fff;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #5ea6c3,
        -15px -15px 30px #7ad8fd;
    border: none;
    /* color: #fff; */
    color:#000;
}

#support_middle_top #support_middle_top_1 select option {
    color: #000;
}

#support_middle_top #support_middle_top_2 {
    width: 68%;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}

#support_middle_top #support_middle_top_2 input {
    width: 100%;
    height: 100%;
    /* background: none; */
    background:#fff;
    border: none;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #5ea6c3,
        -15px -15px 30px #7ad8fd;
        color:#000;
}

#support_middle_top #support_middle_top_2 input::placeholder {
    /* color: #fff; */
    color:#000;
    font-size: 18px;
}

#support_middle_center {
    width: 100%;
    height: 70%;
    position: absolute;
    bottom: 15%;
}

#support_middle_center textarea {
    width: 100%;
    height: 100%;
    /* background: none; */
    background:#fff;
    border: none;
    border-radius: 30px;
    box-shadow: 15px 15px 30px #5ea6c3,
        -15px -15px 30px #7ad8fd;
    padding: 20px;
    color:#000; /*수정*/
}

#support_middle_center textarea::placeholder {
    /* color: #fff; */
    color:#000;
    font-size: 18px;
}

#support_middle_bottom {
    width: 100%;
    height: 15%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}


#support_center_bottom button#support_button {
    width: 200px;
    height: 40px;
    background-color: #fff;
    border: none;
    border-radius: 30px;
    color: #6cbfe0;
    font-weight: 600;
}

/* aside support end */


#main_area {
    width: calc(100%-280px);
    height: 90vh;
    position: relative;
}

#main_button {
    width: 100%;
    height: 8%;
    position: relative;
    display: flex;
}

#main_button #button_left {
    width: 40%;
    height: auto;
    display: flex;
}

#main_button #button_left #button_left_01 {
    width: 10%;
    background-color: gray;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    height: 60%;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#main_button #button_left #button_left_02 {
    width: 10%;
    background: var(--main-color);
    color: #fff;
    border-radius: 30px;
    text-align: center;
    height: 60%;
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#main_button #button_left p {
    padding: 6% 0;
    font-size: 18px;
}

#main_button #button_center {
    width: 30%;
    height: auto;
    display: flex;
}

#main_button #button_center p {
    font-size: 16px;
    padding: 0;
}

#main_button #button_center #button_center_01 {
    width: 6%;
    border: 2px solid green;
    border-radius: 30px;
    height: 40%;
    color: green;
    text-align: center;
    position: absolute;
    left: 43.5%;
    top: 70%;
    transform: translate(-50%, -50%);
}

#main_button #button_center #button_center_02 {
    width: 6%;
    border: 2px solid red;
    border-radius: 30px;
    height: 40%;
    color: red;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

#main_button #button_center #button_center_03 {
    width: 6%;
    border: 2px solid gray;
    border-radius: 30px;
    height: 40%;
    color: gray;
    text-align: center;
    position: absolute;
    left: 56.5%;
    top: 70%;
    transform: translate(-50%, -50%);
}

#main_button #button_right {
    width: 30%;
    height: auto;
    display: flex;
}

#main_button #button_right form {
    position: absolute;
    top: 40%;
}

/*search button*/

.search-box {
    transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    background: #ebebeb;
}

.search-box+label .search-icon {
    color: black;
}

.search-box:hover {
    color: white;
    background: #c8c8c8;
    box-shadow: 0 0 0 5px #3d4752;
}

.search-box:hover+label .search-icon {
    color: white;
}

.search-box:focus {
    transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
    border: none;
    outline: none;
    box-shadow: none;
    padding-left: 15px;
    cursor: text;
    width: 20vw;
    /* 넓이 수정 */
    border-radius: auto;
    background: #ebebeb;
    color: black;
}

.search-box:focus+label .search-icon {
    color: black;
}

.search-box:not(:focus) {
    text-indent: -5000px;
}

#search-submit {
    position: relative;
    left: -5000px;
}

.search-icon {
    position: relative;
    left: -30px;
    color: white;
    cursor: pointer;
}

/* search button end */



#main_center {
    width: 90%;
    height: 85%;
    margin: 0 auto;
    box-shadow: 2px 5px 11px 2px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    background-color: #fff;
}

#main_tableWrap {
    width: 100%;
    height: 98%;
    margin: 0 auto;
    background: var(--main-bg-color);
    overflow-y: auto;
    background: #fff;
    border-radius: 30px;
}

#main_center table {
    width: 96%;
    height: auto;
    margin: 0 auto;
    border-collapse: collapse;
    margin-top: 2%;
}

#main_center table tr {
    cursor: pointer;
}

/* #main_center table input{margin:0 auto;} */
#main_center table th {
    /* border-top: 1px solid #ccc; */
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 99;
    background: #fff;
}

#main_center #tablet_main_tableWrap table th {
    border-top: 1px solid #ccc;
}

#main_center table th,
#main_center table td {
    height: 52px;
    text-align: center;
}

#main_center table tr:hover td {
    background: rgb(255, 171, 199);
}

#modal_center_1,
#modal_center_2,
#modal_center_3,
#modal_center_4 {
    width: 100%;
    height: 100%;
}



.toggle input[type="checkbox"] {
    position: absolute;
    opacity: 0;
}

/* Normal Track */
.toggle input[type="checkbox"].ios-switch+div {
    vertical-align: middle;
    width: 40px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .4);
    border-radius: 999px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: .4s;
    -webkit-transition-property: background-color, box-shadow;
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.4);
    margin: 15px 1.2em 15px 2.5em;
}

/* Checked Track (Blue) */
.toggle input[type="checkbox"].ios-switch:checked+div {
    width: 40px;
    background-position: 0 0;
    background-color: #3b89ec;
    border: 1px solid #0e62cd;
    box-shadow: inset 0 0 0 10px rgba(59, 137, 259, 1);
}

/* Tiny Track */
.toggle input[type="checkbox"].tinyswitch.ios-switch+div {
    width: 34px;
    height: 18px;
}

/* Green Track */
.toggle input[type="checkbox"].green.ios-switch:checked+div {
    /* background-color: #00e359; */
    background-color: var(--main-color);
    /* border: 1px solid rgba(0, 162, 63,1); */
    border: 1px solid var(--main-color);
    /* box-shadow: inset 0 0 0 10px rgba(0,227,89,1); */
    box-shadow: inset 0 0 0 10px var(--main-color);
}

/* Normal Knob */
.toggle input[type="checkbox"].ios-switch+div>div {
    float: left;
    width: 18px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    -webkit-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -webkit-transition-duration: 0.4s;
    -webkit-transition-property: transform, background-color, box-shadow;
    -moz-transition-timing-function: cubic-bezier(.54, 1.85, .5, 1);
    -moz-transition-duration: 0.4s;
    -moz-transition-property: transform, background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

/* Tiny Knob */
.toggle input[type="checkbox"].tinyswitch.ios-switch+div>div {
    width: 16px;
    height: 16px;
    margin-top: 1px;
}

/* Checked Tiny Knob (Blue Style) */
.toggle input[type="checkbox"].tinyswitch.ios-switch:checked+div>div {
    -webkit-transform: translate3d(16px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172, 1);
}



/* Green Knob */
.toggle input[type="checkbox"].green.ios-switch:checked+div>div {
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(0, 162, 63,1); */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px var(--main-color);
}

label {
    margin-bottom: 0;
}

p.color_red {
    color: #f00;
    font-size: 14px;
}

p.color_orange {
    color: orange;
    font-size: 14px;
}

p.color_green {
    color: green;
    font-size: 14px;
}

#main_center table td:last-child p {
    text-align: left;
    margin-left: 25%;
}





@media screen and (max-width:1590px) {
    #modal #modal_wrap #modal_center table td:nth-child(2n-1) {
        width: 25%;
    }

    #modal #modal_wrap #modal_center table td:nth-child(2n) {
        width: 25%;
    }
}

@media screen and (max-width:1430px) {
    #modal #modal_wrap #modal_center table td:nth-child(2n-1) {
        padding: 15px 0;
    }

    #modal #modal_wrap #modal_center table td:nth-child(2n) {
        padding: 15px 0;
    }
}

@media screen and (max-width:1366px) {
    #wrap {
        padding-top: 0;
        margin: 0 auto;
    }

    #main_button {
        margin-top: 30px;
    }

    #main_button #button_right form {
        top: 18%;
    }

    #main_button #button_left p {
        padding: 3% 0;
    }
}

@media screen and (max-width:1330px) {

    main {
        width: 100%;
        margin-left: 0;
    }

    aside {
        transform: translateX(-100%);
        background: none;
    }

    nav a,
    nav label {
        width: 274px;
        text-align: center;
        margin-left: 6px;
    }
  
    #responsive-nav+label {
        display: block;
    }

    #responsive-nav+label {
        display: block;
        border: 2px solid var(--main-color);
        border-radius: 50%;
        box-sizing: border-box;
        padding: 20px;
        top: 17px;
    }

    #responsive-nav:checked+label {
        color: white;
        background: none;
        box-shadow: none;
        border: 2px solid white;
        z-index: 999999;
    }

    #responsive-nav:checked~aside {
        transform: translateX(0);
    }

    #main_button {
        margin-top: 0;
    }

    #main_button #button_right form {
        top: 40%;
    }

    #top_blank {
        width: 100%;
        height: 50px;
    }


    #modal #modal_wrap #modal_center table td:nth-child(2n-1) {
        padding: 15px 10px;
    }

    #modal #modal_wrap #modal_center table td:nth-child(2n) {
        padding: 15px 10px;
    }

    .logo-area {
        height: 100px;
    }

    .logo-area img {
        width: 57%;
        position: absolute;
        top: 13px;
        left: 84px;
    }

    #main_button {
        margin-top: 50px;
    }
}

@media screen and (max-width:1240px) {
    #main_button #button_left p {
        font-size: 16px;
        padding: 8% 0;
    }
}

@media screen and (max-width:1024px) {

    #main_center{height:80%;}

    #responsive-nav+label {
        top: 36px;
        left: 32px;
    }

    #wrap #top_area #top_title p:nth-child(2) {
        display: none;
    }

    #top_btn #btn_aws img {
        width: 5.5vw;
    }

    #top_btn #btn_kt img {
        width: 8vw;
    }

    #top_btn #btn_naver img {
        width: 10vw;
    }

    #top_btn #btn_toast img {
        width: 9vw;
    }

    #top_area {
        height: 200px;
    }

    #top_area #top_title p:nth-child(1) {
        top: 7.5vh;
    }

    #top_btn {
        height: 80px;
    }

    #top_blank {
        height: 0;
    }

    #wrap #top_area #top_btn #btn_aws,
    #wrap #top_area #top_btn #btn_kt,
    #wrap #top_area #top_btn #btn_naver,
    #wrap #top_area #top_btn #btn_toast {
        width: 22vw;
        top: 8vh;
        height: 55px;
    }

    #wrap #top_area #top_btn #btn_aws {
        left: 2%;
    }

    #wrap #top_area #top_btn #btn_kt {
        left: 27%;
    }

    #wrap #top_area #top_btn #btn_naver {
        left: 51%;
    }

    #wrap #top_area #top_btn #btn_toast {
        left: 75%;
    }

    #wrap #top_area #top_btn #btn_all {
        width: 45vw;
        left: 53%;
        bottom: 37%;
    }

    #main_button #button_left #button_left_01 {
        width: 12%;
    }

    #main_button #button_left #button_left_02 {
        width: 12%;
        left: 20%;
    }

    #main_button #button_left p {
        padding: 10% 0;
    }

    #main_button #button_center #button_center_01 {
        width: 9%;
        left: 40.5%;
    }

    #main_button #button_center #button_center_02 {
        width: 9%;
    }

    #main_button #button_center #button_center_03 {
        width: 9%;
        left: 59.5%;
    }

    #main_button #button_right form {
        top: 48%;
    }

   

}

@media screen and (max-width:768px) {

    #main_center{height:76%;}
    #main_tableWrap {
        display: none;
    }

    #tablet_main_tableWrap {
        display: block;
    }

    #main_button{margin-top:18px;}

    #main_button #button_left #button_left_01 {
        width: 16%;
        left: 13%;
    }

    #main_button #button_left #button_left_02 {
        width: 16%;
        left: 27%;
    }

    #main_button #button_right form {
        top: 30%;
    }

    #main_button #button_center #button_center_01 {
        left: 42%;
        top: 63%;
    }

    #main_button #button_center #button_center_02 {
        left: 52%;
        top: 63%;
    }

    #main_button #button_center #button_center_03 {
        left: 62%;
        top: 63%;
    }
}

@media screen and (max-width:540px) {
    #tablet_main_tableWrap {
        display: none;
    }

    #mobile_main_tableWrap {
        display: block;
    }

    #main_button #button_left {
        display: none;
    }

    #main_button #button_center {
        display: none;
    }

    #main_button #button_right {
        display: none;
        /*수정?*/
    }

    #btn_all select {
        width: 21vw;
    }

    #top_btn #btn_aws img {
        width: 12vw;
    }

    #top_btn #btn_kt img {
        width: 17vw;
    }

    #top_btn #btn_naver img {
        width: 27vw;
    }

    #top_btn #btn_toast img {
        width: 22vw;
    }

    #top_area {
        height: 20vh;
    }

    #main_button {
        margin-top: 0;
    }

    #top_blank {
        height: 0;
    }

    #wrap #top_area #top_btn {
        height: 50px;
        top: 20px;
    }

    #wrap #top_area #top_btn #btn_all {
        left: 24%;
        bottom: 75%;
        width: 72vw;
    }

    #wrap #top_area #top_btn #btn_all select {
        width: 40vw;
    }

    #wrap #top_area #top_title p:nth-child(1) {
        margin-top: 8%;
        top: 100%;
    }

    #wrap #top_area #top_title p:nth-child(2) {
        display: none;
    }

    #wrap #top_area #top_btn #btn_aws {
        width: 44vw;
        left: 4%;
        top: 7vh;
    }

    #wrap #top_area #top_btn #btn_kt {
        width: 44vw;
        left: 51%;
        top: 7vh;
    }

    #wrap #top_area #top_btn #btn_naver {
        width: 44vw;
        left: 4%;
        top: 15vh;
    }

    #wrap #top_area #top_btn #btn_toast {
        width: 44vw;
        left: 51%;
        top: 15vh;
    }

    #wrap #mobile_main_tableWrap {
        margin-top: 100px;
    }

    #wrap #mobile_main_tableWrap table {
        margin-top: 4%;
        margin-bottom: 110px;
    }

    #mobile_main_tableWrap>p {
        position: absolute;
        left: 5%;
        top: 15%;
        font-size: 24px;
        font-weight: 600;
    }



}

@media screen and (max-width:414px) {
    #main_center {
        height: 64%;
    }

    #main_center table td:last-child p {
        margin-left: 15%;
        margin-top: 7%;
    }
}

@media screen and (max-width:375px) {

    #main_center{height:62%;}

    #mobile_modal #mobile_modal_wrap #mobile_modal_center table td:nth-child(2n-1) {
        padding: 7px 10px;
    }

    #mobile_modal #mobile_modal_wrap #mobile_modal_center table td:nth-child(2n) {
        padding: 9px 10px;
    }

    /* #mobile_modal{top:64%;} */
}

@media screen and (max-width:360px) {
    #mobile_modal #mobile_modal_wrap #mobile_modal_center table td:nth-child(2n-1) {
        padding: 9px 5px;
    }

    #mobile_modal #mobile_modal_wrap #mobile_modal_center table td:nth-child(2n) {
        padding: 9px 10px;
    }

    /* #mobile_modal{top:53%;} */
}

@media screen and (max-width:320px) {
    #main_center table td {
        font-size: 10px;
    }

    #mobile_modal #mobile_modal_wrap #mobile_modal_center table td:nth-child(2n-1) {
        padding: 12px 0px;
    }

    #mobile_modal #mobile_modal_wrap #mobile_modal_center table td:nth-child(2n) {
        padding: 12px 0px;
    }
}